body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5a30e6;
  color: white;
  font-family: sans-serif;
}

#app {
  text-align: center;
}

#score {
  font-size: 32px;
  margin-bottom: 20px;
}

#cat {
  font-size: 100px;
  cursor: pointer;
  user-select: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}