html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial;
  background: #f5f5f5;
  user-select: none;
  touch-action: manipulation;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 400px) {
  #score { font-size: 56px; }
}

#cat {
  font-size: 280px;
  cursor: pointer;
  transition: transform 0.1s;
}

#cat.active {
  transform: scale(0.9);
}

button {
  font-size: 22px;
  padding: 10px 18px;
  margin: 6px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

/* МОДАЛКИ */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
  transform: scale(0.8);
  transition: 0.25s ease;
}

.modal.show .modal-box {
  transform: scale(1);
}

input {
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}